#menu
  - if logged_in?
    .btn-group
      = link_to current_user, '#', class: 'btn btn-primary'
      = link_to '#', data: {toggle: 'dropdown'}, class: 'btn btn-primary dropdown-toggle' do
        %span.caret

      %ul.dropdown-menu
        %li
          = link_to edit_user_path do
            %i.icon-pencil
            Settings

    .btn-group
      %li= button_to 'Logout', session_path(method: :delete), class: 'btn btn-danger logout'

  - else
    = render 'sessions/form'
