!!!
%html
  %head
    %title Twitter
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

.container
  .row
    #main.span8
      %h1= link_to 'Twitter', root_path
      = yield

    .span4
      - unless local_assigns[:menuless]
        = render partial: 'shared/menu'

      #sidebar
        = yield :sidebar

  .span12
    = render partial: 'shared/footer'
