!!!
%html
  %head
    %title Twitter
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

.container
  .row
    .span8
      %h1.row.span8= link_to 'Twitter', root_path
      .row.span8= render 'shared/alerts'
      #main.row.span8= yield

    .span4
      - unless local_assigns[:menuless]
        .row.span4= render 'shared/menu'

      #sidebar.row.span4
        - if content_for?(:sidebar)
          = yield :sidebar
        - elsif logged_in?
          = render 'tweets/form', tweet: Tweet.new

  .span12
    = render 'shared/footer'
